@page "/fetchdata"

@using AdWordsManager.Blazor.Data
@using AdWordsManager.Providers.Providers
@using AdWordsManager.Data.POCO
@using AdWordsManager.Data.DTO
@using AdWordsManager.Helper.Enums
@inject IAdProvider AdProvider

<h1>Реклама</h1>


@if (_ads == null)
{
<p><em>Loading...</em></p>
}
else
{
    <select @bind="SelectedManagerAccountId" class="form-control form-control-sm">
        <option value="0">Все</option>
        @foreach (var item in _ads.GroupBy(g => g.ManagerAccountId).Select(s => s.Key).Distinct())
        {
            <option value="@item" >@_ads.FirstOrDefault(f => f.ManagerAccountId == item)?.ManagerAccount.Name</option>
        }
    </select>
<table class="table">
    <thead>
        <tr>
            <th>Имя</th>
            <th>CPM</th>
            <th>Статус</th>
            <th>Просмотры</th>
            <th>Показы</th>
            <th>Бюджет</th>
            <th>Управляющий аккаунт</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var forecast in _ads.Where(w => w.ManagerAccountId == SelectedManagerAccountId 
                                                  || SelectedManagerAccountId == 0))
            {
        <tr>
            <td>@forecast.Name</td>
            <td>@forecast.CPM</td>
            <td>@GetAdStatus(forecast.Status)</td>
            <td>@forecast.View <input type="number" @bind="forecast.MetricView" name="name2" /></td>
            <td>@forecast.PokazCount</td>
            <td>@forecast.Budget <input type="number" @bind="forecast.MetricBudget" name="name1" /> </td>
            <td>@forecast.ManagerAccount.Name</td>
            <td><button @onclick="(() => { Update(forecast); })" class="btn btn-success">Сохранять</button></td>
        </tr>
            }
    </tbody>
</table>
}

@code {
    private IEnumerable<NormalizeAd> _ads;
    private int SelectedManagerAccountId;

    protected override async Task OnInitializedAsync()
    {
        _ads = await AdProvider.GetAll(x => x.ManagerAccount);
    }

    private string GetAdStatus(AdStatus status)
    {
        return status == AdStatus.Stop ? "Остановлена" : "Активна";
    }

    private void Update(NormalizeAd ad)
    {
        AdProvider.UpdateAdMetric(ad).GetAwaiter().GetResult();
    }

}
